<a style="margin-bottom: 5px;" class="btn btn-default" href="#!/cars">Go Back</a>
<div class="panel panel-default" ng-init="getCar()">
    <div class="panel-heading">
        <h3 class="panel-title">{{car.name}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img ng-src="{{car.image_url}}">
            </div>
            <div class="col-md-8">
                <p>{{car.description}}</p>
                <ul class="list-group">
                    <li class="list-group-item">Price: {{car.price | currency}}</li>
                    <li class="list-group-item">Country: {{car.country}}</li>
                    <li class="list-group-item">Engine capacity: {{car.engine}} cubic centimetre</li>
                    <li class="list-group-item">Max Speed: {{car.max_speed}} kilometers per hour</li>
                </ul>
                <a href="{{car.website}}" target="_blank" class="btn btn-primary">Visit Website</a>
                <div class="" style="padding: 20px">
                  <div class="form-group">
                      <label for="name">Name:</label>
                      <input type="text" class="form-control" ng-model="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                      <label for="name">Phone:</label>
                      <input type="text" class="form-control" ng-model="phone"  placeholder="Phone">
                  </div>
                  <a ng-click="sendEmail(name, phone, car.name)" class="btn btn-primary">Buy Car</a>
                </div>
            </div>
        </div>
        <div class="">
          <div class="col-lg-offset-4 col-lg-6 col-md-offset-4 col-md-6">
            <h3>Comments</h3>
            <div class="" ng-repeat="comment in car.comments track by $index">
              <img class="user_avatar" src="../images/avatar.png">
              <span>{{comment}}</span>
              <a style="cursor:pointer; float:right" ng-click="removeComment(comment)">Delete</a>
            </div>
            <form ng-submit="addComment(comment)">
              <div class="form-group">
                <label>Add comment</label>
                <input class="input" class="form-control" ng-required="true" type="text" ng-model="comment">
              </div>
              <button type="submit" class="btn btn-primary">Comment</button>
            </form>
          </div>
        </div>
    </div>
</div>
<div class="pull-right">
    <a href="#!/cars/edit/{{car._id}}" class="btn btn-warning">Edit</a>
    <a href="#" ng-click="deleteCar(car._id)" class="btn btn-danger">Delete</a>
</div>
